<h1>Build-a-Band</h1>
<%= form_for @artist do |f| %>
  <%= f.label "Artist Name" %>
  <p><%= f.text_field :name %></p>
  <%= f.label "My artist bio" %>
  <p><%= f.text_area :bio %></p>
  <%= f.submit "Create Artist" %>
<% end %>
