<h1>Write a Song</h1>
<%= form_for @song do |f| %>
  <%= f.label "Song Name" %>
  <p><%= f.text_field :name %></p>
  <%= f.label "Artist" %>
  <p><%= f.text_field :artist_id %></p>
  <%= f.label "Genre" %>
  <p><%= f.number_field :genre_id %></p>
  <%= f.submit "Create Song" %>
<% end %>




<%# <%= f.label "Artist" %> %>
<%# <!-- <p><%= f.collection_select :artist_id, Artist.order(:name),:id,:name %></p> --> %>
<%# <%= f.label "Genre" %> %>
<%# <!-- <p><%= f.collection_select :genre_id, Genre.order(:name),:id,:name %></p> --> %>
